doctype html
html(lang="en")
    head
        title= pageTitle
    body
        include includes/header.pug
        h3 How to configure webpack 2 to use image from our template or CSS?
        img(src=require('./images/HTML5_Logo.svg'))